{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

{%- set reldelim1 = reldelim1 is not defined and ' &raquo;' or reldelim1 %}
{%- set reldelim2 = reldelim2 is not defined and ' |' or reldelim2 %}

{%- macro relbar() %}
<div class="related">
    <h3>{{ _('Navigation') }}</h3>
    <ul>
        {%- for rellink in rellinks %}
        <li class="right" {% if loop.first %}style="margin-right: 10px"{% endif %}>
        <a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags }}"
            {{ accesskey(rellink[2]) }}>{{ rellink[3] }}</a>
        {%- if not loop.first %}{{ reldelim2 }}{% endif %}</li>
        {%- endfor %}
        {%- block rootrellink %}
        <li><a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a>{{ reldelim1 }}</li>
        {%- endblock %}
        {%- for parent in parents %}
        <li><a href="{{ parent.link|e }}" {% if loop.last %}{{ accesskey("U") }}{% endif %}>{{ parent.title }}</a>{{ reldelim1 }}</li>
        {%- endfor %}
        {%- block relbaritems %}{% endblock %}
    </ul>
</div>
{%- endmacro %}

<html lang="en">
    <head>
        <meta charset="utf-8">

        {{ metatags }}

        <title>{{ title|striptags }}{{ titlesuffix }}</title>

        {% for s in style %}
        <link rel="stylesheet" href="{{ pathto('_static/' + s, 1) }}" type="text/css" />
        {% endfor %}

        {% block feed %}
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS 2.0">
        {% endblock %}

        <script type="text/javascript">
            var DOCUMENTATION_OPTIONS = {
                URL_ROOT:    '{{ pathto("", 1) }}',
                VERSION:     '{{ release|e }}',
                COLLAPSE_MODINDEX: false,
                FILE_SUFFIX: '{{ file_suffix }}',
                HAS_SOURCE:  {{ has_source|lower }}
            };
        </script>

        {%- for scriptfile in script_files %}
        <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
        {%- endfor %}

        {%- if use_opensearch %}
        <link rel="search" type="application/opensearchdescription+xml"
            title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}"
            href="{{ pathto('_static/opensearch.xml', 1) }}"/>
        {%- endif %}

        {%- if favicon %}
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
        {%- endif %}

        {%- block linktags %}
            {%- if hasdoc('about') %}
            <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}" />
            {%- endif %}
            {%- if hasdoc('genindex') %}
            <link rel="index" title="{{ _('Index') }}" href="{{ pathto('genindex') }}" />
            {%- endif %}
            {%- if hasdoc('search') %}
            <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />
            {%- endif %}
            {%- if hasdoc('copyright') %}
            <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}" />
            {%- endif %}
            <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}" />
            {%- if parents %}
            <link rel="up" title="{{ parents[-1].title|striptags }}" href="{{ parents[-1].link|e }}" />
            {%- endif %}
            {%- if next %}
            <link rel="next" title="{{ next.title|striptags }}" href="{{ next.link|e }}" />
            {%- endif %}
            {%- if prev %}
            <link rel="prev" title="{{ prev.title|striptags }}" href="{{ prev.link|e }}" />
            {%- endif %}
        {%- endblock %}

        {%- block extrahead %}
        <link rel="stylesheet" href="{{ pathto('_static/jquery.github_badge.css', 1) }}?v=1" />
        <script src="{{ pathto('_static/jquery.github_badge.js', 1) }}"></script>
        <script>
            jQuery(document).ready(function($){
                $('#github-badge').GithubBadge({
                    login: 'whiteinge',
                    image_path: '{{ pathto("_static/images/", 1) }}'
                });
            });
        </script>
        {% endblock %}
    </head>

    <body>
        {%- block header %}{% endblock %}

        {%- block document %}
        <div class="documentwrapper"><div class="bodywrapper">
            {%- block relbar1 %}{{ relbar() }}{% endblock %}

            <div class="body{% if pagename == 'index' %} body-index{% endif %}">
                {% block body %}{% endblock %}

                {% if meta and 'pubdate' in meta %}
                <div class="summary">
                    <p>Posted {{ meta['pubdate']|dayssince }} days ago on {{ meta['pubdate'] }}.</p>
                </div>
                {% endif %}

                {% if pagename == 'index' %}
                <div class="section section-index">
                    {%- block sidebarsearch %}
                    {%- if pagename != "search" %}
                    <div id="searchbox" style="display: none">
                        <h3>{{ _('Search') }}</h3>
                        <form class="search" action="{{ pathto('search') }}" method="get">
                            <input type="text" name="q" size="18" />
                            <input type="submit" value="{{ _('Go') }}" />
                            <input type="hidden" name="check_keywords" value="yes" />
                            <input type="hidden" name="area" value="default" />
                        </form>
                    </div>
                    <script type="text/javascript">$('#searchbox').show(0);</script>
                    {%- endif %}
                    {%- endblock %}

                    {%- block posts_by_tag %}
                    <div class="posts by-tag">
                        <h3>Posts by Tag</h3>
                        {% for key, entries in genindexentries %}
                        {% for entryname, (links, subitems) in entries %}
                        <a href="{{ pathto('genindex') }}key-{{ key }}">{{ entryname }}</a>
                        {% endfor %},
                        {%- endfor %}
                    </div>
                    {%- endblock %}

                    {%- block posts_by_date %}
                    <div class="posts by-date">
                        <h3>Posts by Date</h3>
                        {{ toctree() }}
                    </div>
                    {%- endblock %}

                    <div id="github-badge"></div>
                </div>
                {% endif %}
        </div></div>
        {%- endblock %}

        {%- if not 'index' in pagename %}
        <div id="disqus_thread" class="body comments"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'esotericrubbish'; // required: replace example with your forum shortname

            // The following are highly recommended additional parameters. Remove the slashes in front to use.
            // var disqus_identifier = 'unique_dynamic_id_1234';
            // var disqus_url = 'http://example.com/permalink-to-page.html';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        {%- endif %}

        {%- block relbar2 %}{{ relbar() }}{% endblock %}

        {%- block footer %}
            <div class="footer">
                {%- if hasdoc('copyright') %}
                {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
                {%- else %}
                {% trans copyright=copyright|e %}&copy; <a href="http://google.com/profiles/whiteinge" rel="me">Copyright {{ copyright }}</a>.{% endtrans %}
                {%- endif %}

                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Some rights reserved</a>.

                {%- if last_updated %}
                {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}
                {%- endif %}

                {%- if show_sphinx %}
                {% trans sphinx_version=sphinx_version|e %}Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}.{% endtrans %}
                {%- endif %}
            </div>

            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-12716924-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {%- endblock %}
    </body>
</html>
